* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(0,255,188,1) 76%);
  
}


#preguntas_primeras {
    font-size: 25px;
    
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -200px;
    
}

    /* MENU GENERAL DE LA CARTA */
#menu {
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(0,255,188,1) 76%);

    padding: 15px;
   
    
}

#ver_cafeteria,#ver_promos,#ver_carrito {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bolder;
    background: black;
    color: bisque;
    transition: 300ms all;
    border: 1px solid rgba(101, 221, 189, 0.815);
   
}



#ver_cafeteria:hover {
    background: rgb(13, 13, 102);
    color: white;
    cursor: pointer;
    
}

#ver_promos:hover {
    background: rgb(13, 13, 102);
    color: white;
    cursor: pointer;
}

#ver_carrito:hover {
    background: rgb(13, 13, 102);
    color: white;
    cursor: pointer;
}



  /* MENU CAFETERIA */

  #cafeteria {
      
      display: flex;
      flex-direction: column;
    
      
      animation: cafeteria;
      animation-duration: 300ms;
      animation-timing-function: linear;
       

      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(0,255,188,1) 76%);
  
      padding: 15px;

      display: none;
     


  }

@keyframes cafeteria {
    0% {
        transform: scale(0.2);
    }

    25% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(0.4);
    }

    75% {
        transform: scale(0.5);
    }

    100% {
        transform:scale(1.0);
    }
}




  #cafeteria button {
      padding: 10px;
      background: black;
      font-size: 17px;
      color: bisque;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      letter-spacing: 2px;
      font-size: 22px;

      border: 1px solid rgba(101, 221, 189, 0.815);
  }
  


  #cafeteria button:hover {
    background: rgb(13, 13, 102);
    color: white;
    cursor: pointer;
  }

  #cafeteria button:focus {
    background: rgb(63, 189, 63);
    color: black;
}

    /* MENU PROMOS */

    #promos {
      
        display: flex;
        flex-direction: column;
     

        animation: cafeteria;
        animation-duration: 300ms;
        animation-timing-function: linear;
       
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(0,255,188,1) 76%);
    
        padding: 15px;
  

          display: none;
       
    }

    @keyframes promos {
        0% {
            transform: scale(0.2);
        }
    
        25% {
            transform: scale(0.3);
        }
    
        50% {
            transform: scale(0.4);
        }
    
        75% {
            transform: scale(0.5);
        }
    
        100% {
            transform:scale(1.0);
        }
    }
    
  
  
  
    #promos button {
        padding: 10px;
        background: black;
        font-size: 17px;
        color: bisque;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        font-size: 22px;
        border: 1px solid rgba(101, 221, 189, 0.815);
    }
  
    #promos button:hover {
      background: rgb(13, 13, 102);
      color: white;
      cursor: pointer;
    }
  
    #promos button:focus {
        background: rgb(63, 189, 63);
        color: black;
    }


   /* COMPRO */

   #carrito{
     
       display: flex;
       justify-content: center;
       align-items: center;
       height: 500px;

       
       background: rgb(2,0,36);
       box-shadow: 0px 0px 0px 1px #ccc;
       font-size: 25px;
       padding: 15px;
 
        display: none;
   }

   #compro {
      
       color: white;
       letter-spacing: 4px;
       padding: 30px;
       box-shadow: 1px 1px 0px 1px #ccc;

       
        color: bisque;
        
        letter-spacing: 2px;
        font-size: 22px;
   
        display: none;
   }



   #carrito button {
    padding: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: bisque;
    background: black;
    border: 1px solid rgba(101, 221, 189, 0.815);
   }


            /* SCROLL PARA MÁS ADELANTE */

            /*    
            #carrito {
                word-wrap: break-word;
                overflow: auto;
            }


            #carrito::-webkit-scrollbar {
                width:17px;
            }

            #carrito::-webkit-scrollbar-thumb {
                background: wheat;
            } */

  
   .carrito_volver {
      position: absolute;
      top: 800px;
   }

   .carrito_volver:hover {
       cursor: pointer;
   }




   /* TOTAL */ 

   #total_es {
    position: relative;
    top: -50px;

    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: bisque;
    display: none;
   }
